.main-chat 
  .main-header
    .main-header__left-content
      .main-header__left-content__user-group
        %p ACE
      .main-header__left-content__member
        %p Member :
    .main-header__edit 
      = link_to "＃", class: "main-header__edit__btn__edit" do
        Edit

  .massages
    .massages__massage
      .massages__massage__info
        .massages__massage__info__user-name
          %p ABCD
        .massages__massage__info__date
          %p 2019/12/8(sun)19:30
      .massages__massage__text      
        %p テキスト
      .massages__massage__info
        .massages__massage__info__user-name
          %p ABCD
        .massages__massage__info__date
          %p 2019/12/8(sun)19:30

      .massages__massage__text      
        %p テキスト

  .form
    .form__new-message
      %input.form__new-message__inputbox{:name => "", :placeholder => "type a message", :type => "text", :value => ""}/
      .form__new-message__inputbox__image
        %label{class: "form__new-message__inputbox__image__btn"}
        = icon('fas', 'image')
        %input{type: "file"}
      .form__new-message__inputbox__send-btn
        = link_to "#", class: "form__new-message__inputbox__send-btn__send" do
          Send
 