.main-chat 
  .main-header
    .main-header__left-content
      .main-header__left-content__user-group
        %p ACE
      .main-header__left-content__member
        %p Member :
    .main-header__edit 
      = link_to "＃", class: "main-header__edit__btn__edit" do
        Edit

  .main-footer