.chat-side
  .side-header
    .side-header__box
      .side-header__box__username
        %p ABCD
      .side-header__box__menu
        = link_to "＃", class: "contents__btn__edit" do
          = icon('fa', 'edit', class: "side-header__menu__edit-user")
        = link_to "＃", class: "contents__btn__cog" do
          = icon('fa', 'cog' , class: "side-header__menu__new-group")

.groups
  .group
    .group-name 
      %p ACE  
    .message
      %p まだメッセージはありません
    .group-name 
      %p ACE  
    .message
      %p まだメッセージはありません



      