.chat-side
  .side-header
    .side-header__box
      .side-header__username<ABCD
      .side-header__menu
        = link_to "＃", class: "contents__btn" do
          = icon('fa', 'edit')
        = link_to "＃", class: "contents__btn" do
          = icon('fa', 'cog')


      