.wrapper {
  display: flex;
}
.main-chat {
  background-color: #fafafa;
  width: calc(100vw - 300px);
  float: left;
  position: relative;
  .main-header {
    background-color:#ffffff;
    height: 100px;
    padding: 0 40px;
    position: relative;
    display: flex;
    justify-content: flex-end;

    &__left-content {
      position: absolute;
      left: 40px;
      
      &__user-group {
        margin-top: 35px;
        font-size: 20px;
        color: #333333;
      }
      &__member {
        margin-top: 15px;
        font-size: 12px;
        color: #999999;
      }  
    }
        
    &__edit__btn__edit {
      height: 40px;
      margin-top: 28px;  
      position: absolute;
      padding: 0 20px; 
      color: #38aef0;
      text-decoration: none; 
      border: 1px solid #38aef0;
      right: 40px;
      line-height: 40px;
    }
  }
  .massages {
    padding: 46px 40px;
    &__massage {
    &__info {
      display: flex;
      justify-content: 0;
    &__user-name {
      font-size: 16px;
      color: #333333;
      padding-bottom: 12px;
      margin-right: 10px;
    }
    &__date {
      color: #999999;
      font-size: 12px;
    }
  }
    &__text {
      font-size: 14px;
      color: #999999;
      padding-bottom: 46px;
    }
  }
   }   
  

    .form {
      width: 100%;
      height: 90px;
      background-color: #ddd;
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      &__new-message {
        width: 100%;
        padding: 20px 40px;
        display: flex;
        position: relative;
        
      &__inputbox {
      height: 50px; 
      width: 100%;
      padding: 0 40px 0 10px;
      
      &__image {
        position: absolute;
        right: 160px;
        top: 33px;
      }
      &__file {
      display: none;
      }
      &__send-btn {
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        border: 1px solid #38aef0;
        background-color: #38aef0;
        position: relative;
      &__send {
        text-decoration: none;
        position: absolute;
        top: 11px;
        bottom: 40px;
        left: 25px;
        color: white;
      }
        }
      }     
      }
      }

}
