*{
  box-sizing: border-box;
}


.wrapper {
  display: flex;
}
.main-chat {
  background-color: #fafafa;
  width: calc(100vw - 300px);
  float: left;
  position: relative;
  .main-header {
    background-color:#ffffff;
    height: 100px;
    padding: 0 40px;
    position: fixed;
    display: flex;
    justify-content: flex-end;

    &__left-content {
      position: absolute;
      left: 40px;
      
      &__user-group {
        margin-top: 35px;
        font-size: 20px;
        color: #333333;
      }
      &__member {
        margin-top: 15px;
        font-size: 12px;
        color: #999999;
        display: flex;
      }  
    }
        
    &__edit__btn__edit {
      height: 40px;
      margin-top: 28px;  
      position: absolute;
      padding: 0 20px; 
      color: #38aef0;
      text-decoration: none; 
      border: 1px solid #38aef0;
      right: 40px;
      line-height: 40px;
    }
  }
  .messages {
    overflow: scroll;
    height: calc(100vh - 190px);
    padding: 46px 40px;
    &__message {
    &__info {
      display: flex;
      justify-content: 0;
    &__user-name {
      font-size: 16px;
      color: #333333;
      padding-bottom: 12px;
      margin-right: 10px;
    }
    &__date {
      color: #999999;
      font-size: 12px;
    }
  }
    &__text {
      font-size: 14px;
      color: #999999;
      padding-bottom: 46px;
    .lower-message__image {
      height: 150px;
    }
    }
  }
   }   

    .form {
      width: 100%;
      height: 90px;
      background-color: #ddd;
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      position: sticky;
      .new_message {
        width: 100%;
        padding: 10px 20px;
        display: flex;
        
      .form__message {
        position: relative;
        width: 100%;
        padding-left: 10px;
        display: flex;
        border: none;
      }
      .form__new_message__inputbox__image {
        position: absolute;
        bottom: 32px;
        right: 165px;

        .icon {
          font-size: 1.5em;
          height: 5px;
          cursor: pointer;
        }
      
      .hidden {
        display: none;
      }
      }

      .new_message__inputbox__send-btn {
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: #ffffff;
        cursor: pointer;
        }
      }     
      }
      }


