* {
  box-sizing: border-box;
}

.chat-side{
  width: 300px;
  background-color: #2f3e51;
  height: 900px;
}

.side-header {
  background-color: #253141;
  height: 100px;
  display: flex;
  align-items: center;
  padding:0 20px;
  &__box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20px;
  font-weight: bold;
  position: relative;
  &__username {
  position: absolute;
  left: 0;
  width: calc(100% - 60px);
  height: 100%;
  color: white;
  font-size: 16px;
  }

  &__menu {
  position: absolute;
  right: 0;
  width: 60px;
  height: 100%;
  text-align: right;
  line-height: 5px;
  }
}
.contents__btn__edit {
  padding-right: 5px;
  text-decoration: none;
  color: #ffffff;
}  

.contents__btn__cog {
  color: #ffffff; 
}
}

.groups {
  height: calc(100vh - 100px);
  width: 300px;
  overflow: scroll;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 20px 0;

  .group {
    margin-bottom: 40px;
    color: #ffffff;
    font: bold;
  }
  
  .group-name {
    font-size: 15px;
    padding-bottom: 5px;
  }

  .message {
    font-size: 11px;
    margin-bottom: 40px;
  }
  
}